@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');


body {
    font-family: 'proxima-nova', sans-serif;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 { 
    font-size: 60px;
    color: hsl(202, 100%, 38%);
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

li + li {
    margin-left: 24px;
}

button {
    background-color: hsl(202, 100%, 38%);
    color:hsl(202, 16%, 86%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
}

.city {
    width: 250px;
    height: 150px;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

#row {
    list-style: none;
    display: inline-flex ;
    flex-flow: row nowrap;
    justify-content: left;
    padding: 0;
}



article {
    display: inline-block;
    width: 900px;
    height: 500px; 
    padding: 5px;      
}


h2 { 
    font-size: 40px;
    
}

h3 {
    text-align: center;
    font-size: 30px;
}

#leftside p {
    font-size: 30px;
}

#rightside p {
    font-size: 20px;
}

.Stacey {
    width: 315px;
    height: 400px;
    margin: 10px;
    padding-left: 270px;
}


.Sarah {
    width: 50px;
    border-radius: 50%;
}